* {
  font-family: 'Cairo', sans-serif;
}

#quiz-section {
  /* min-height: 75vh; */
}

.step-label {
    color: #1078AD;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#infos-title {
    color: #1078AD;
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
}

.infos-paragraph {
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
    text-align-last: center;
}

.result-paragraph {
    
    text-align: justify;
    text-align-last: center;
    line-height: 35px;
}

#result {
    color: #026534;
    font-size: 25px;
}

#conseil {
    color: #1078AD;
    font-size: 20px;
}

#step-next-btn {
    color: #1078AD;
    border: 2px solid #1078AD;
    width: 200px;
    font-weight: 700;
    background-color: rgba(16, 121, 173, 0.2);
    transition: .2s;
}

#step-next-btn:hover {
    color: #fff;
    width: 200px;
    font-weight: 700;
    background-color: #1078AD;
}

.dng {
    font-size: 45px !important;
    font-weight: 900 !important;
    color: #a94442 !important;
}

@media (max-width: 575.98px) {
    ::ng-deep .step-label {
        font-size: 14px !important;
        font-weight: 700;
    }

    ::ng-deep .mat-stepper-horizontal-line {
        border-top: 1px solid #026534 !important;
    }

    /* ::ng-deep .mat-step-header .mat-step-icon-selected {
        background-color: #F4CF1B !important;
        color: #F4CF1B !important;
        box-shadow: 0 0 0 7px #88B7D3;
        width: 7px !important;
        height: 7px !important;
    } */

    .dng {
        font-size: 30px !important;
        font-weight: 900 !important;
        color: #a94442 !important;
    }
}

/* *********** MATERIAL DESIGN CUSTOMIZATION *********** */

::ng-deep .mat-stepper-horizontal {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-horizontal-stepper-header-container {
    pointer-events: none !important;
    width: 60%;

}

::ng-deep .mat-horizontal-content-container {
    width: 100%;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top: 2px solid #026534 !important;
    /* margin: 0 -16px;
    min-width: 32px; */
}

::ng-deep .mat-horizontal-stepper-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

::ng-deep .mat-step-header:hover, ::ng-deep .mat-step-header.cdk-program-focused, ::ng-deep .mat-step-header.cdk-keyboard-focused {
    background-color: inherit !important;
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: #1078AD !important;
    color: #1078AD !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #F4CF1B !important;
    color: #F4CF1B !important;
    box-shadow: 0 0 0 13px #88B7D3;
}


