<section id="medical-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl">{{'headerTitle' | translate}}</h2>
                <p dir="rtl">{{'headerContent1' | translate}}<br>{{'headerContent2' | translate}}</p>
            </div>
        </div>
    </div>
</section>

<section id="hero">
    <div class="container section-container">
        <div class="row" id="hero-container">
            <div class="col-lg-6 col-sm-12" id="hero-illust-container">
                <img src="assets/imgs/Group_80.png" alt="ilustration" id="hero-illustration">
            </div>
            <div class="col-lg-6 col-sm-12" id="hero-text-container">
                <h2 dir="ltr">{{'homeTitle1' | translate}}</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <p dir="ltr">{{'homeContent1' | translate}}<br>{{'homeContent2' | translate}}<br>{{'homeContent3' | translate}}<br>{{'homeContent4' | translate}}</p>
                <button class="btn btn-block btn-lg" dir="ltr" routerLink="/test">{{'startTest' | translate}}</button>
            </div>
        </div>
    </div>
</section>

<section id="symptoms">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">{{'homeTitle2' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico7.svg" alt="fever-emoji">
                <h5>{{'homeIcon1' | translate}}</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico8.svg" alt="tiredness-emoji">
                <h5>{{'homeIcon2' | translate}}</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico9.svg" alt="resp-emoji">
                <h5>{{'homeIcon3' | translate}}</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico10.svg" alt="flu-emoji">
                <h5>{{'homeIcon4' | translate}}</h5>
            </div>
        </div>
    </div>
</section>

<section id="recommandations">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="ltr" id="recommandations-title">{{'homeTitle3' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12" id="recomm-contacts">
                <h5>{{'homeCall' | translate}}</h5>
                <span class="badge">141</span>
                <span class="badge mt-1">080 100 47 47</span>
                <span class="badge mt-1">300</span>
                <!-- <p><a href="www.sante.gov.ma" target="_blank">www.sante.gov.ma</a></p> -->
            </div>
            <div class="col-lg-7 col-sm-12" id="recomm-items">
                <p>{{'homeTitle4' | translate}}</p>
                <ul dir="rtl">
                    <li dir="rtl">{{'homeSubP1' | translate}}</li>
                    <li dir="rtl">{{'homeSubP2' | translate}}</li>
                    <li dir="rtl">{{'homeSubP3' | translate}}</li>
                    <li dir="rtl">{{'homeSubP4' | translate}}</li>
                    <li dir="rtl">{{'homeSubP5' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="rappel-test">
    <div class="container">
        <div class="row">
            <div class="col-12" id="rappel-container">
                <h2>{{'homeTitle5' | translate}}</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <button class="btn btn-lg" dir="rtl" routerLink="/test">{{'startTest' | translate}}</button>
            </div>
        </div>
    </div>
</section>
