<section id="symptoms">
    <div class="container section-container">
        <div class="row ">
            <div class="col-12 mt-4">
                <h2 dir="rtl" id="symptoms-title">{{'adviceTitle1' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/05.svg" alt="fever-emoji">
                <h5>{{'adviceIcon1' | translate}}</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/wash.svg" alt="hands-emoji">
                <h5>{{'adviceIcon2' | translate}}</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/02.svg" alt="mask">
                <h5>{{'adviceIcon3' | translate}}</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/cough.svg" alt="cough-emoji">
                <h5>{{'adviceIcon4' | translate}}</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/mouchoir.svg" alt="mpuchoir">
                <h5>{{'adviceIcon5' | translate}}</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/brush.svg" alt="courbatures-emoji">
                <h5>{{'adviceIcon6' | translate}}</h5>
            </div>

        </div>
        <div class="row">
            <div class="mx-auto symptom-card">
                <img src="assets/imgs/icon-house.svg" alt="housse-emoji">
                <h5>{{'adviceIcon7' | translate}}</h5>
            </div>
        </div>
    </div>
</section>

<section id="info">
    <div class="container section-container">
        <div class="col-sm-12 text-center">
            <h2>{{'infos' | translate}}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-12">
                <p dir="ltr">{{'adviceSentence' | translate}}</p>
            </div>
            <div class="pt-3 col-lg-6 col-sm-6 d-flex flex-column align-items-center">
                <button class="btn btn-lg" dir="rtl"><a href="http://www.covidmaroc.ma" target="_blank">www.covidmaroc.ma</a></button>
                <button class="btn btn-lg mt-2" dir="rtl"><a target="_self" href="./assets/brochures/brochure.pdf" download>{{'adviceBtn' | translate}}</a></button>
            </div>
        </div>
    </div>
</section>


<section id="symptoms">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">{{'homeTitle2' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico7.svg" alt="fever-emoji">
                <h5>{{'homeIcon1' | translate}}</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico8.svg" alt="tiredness-emoji">
                <h5>{{'homeIcon2' | translate}}</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico9.svg" alt="resp-emoji">
                <h5>{{'homeIcon3' | translate}}</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico10.svg" alt="flu-emoji">
                <h5>{{'homeIcon4' | translate}}</h5>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">فيروس كورونا المستجد كيفاش كينتقل</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 symptom-card">
                <img src="assets/imgs/saliva-emoji.png" alt="saliva-emoji">
                <h5>عن طريق إسقاط اللعاب</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/family-emoji.png" alt="family-emoji">
                <h5>وجها لوجه لمدة 15 دقيقة على الأقل</h5>
            </div>
        </div> -->
    </div>
</section>

<section id="recommandations">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="ltr" id="recommandations-title">{{'homeTitle3' | translate}}</h2>
            </div>
        </div>
        <div class="row" dir="rtl">
            <div class="col-lg-5 col-sm-12" id="recomm-contacts">
                <h5>{{'homeCall' | translate}}</h5>
                <span class="badge">141</span>
                <span class="badge mt-1">080 100 47 47</span>
                <span class="badge mt-1">300</span>
                <!-- <p><a href="www.sante.gov.ma" target="_blank">www.sante.gov.ma</a></p> -->
            </div>
            <div class="col-lg-7 col-sm-12" id="recomm-items">
                <p>{{'homeTitle4' | translate}}</p>
                <ul dir="rtl">
                    <li dir="rtl">{{'homeSubP1' | translate}}</li>
                    <li dir="rtl">{{'homeSubP2' | translate}}</li>
                    <li dir="rtl">{{'homeSubP3' | translate}}</li>
                    <li dir="rtl">{{'homeSubP4' | translate}}</li>
                    <li dir="rtl">{{'homeSubP5' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="rappel-test">
    <div class="container">
        <div class="row">
            <div class="col-12" id="rappel-container">
                <h2>{{'homeTitle5' | translate}}</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <button class="btn btn-lg" dir="rtl" routerLink="/test">{{'startTest' | translate}}</button>
            </div>
        </div>
    </div>
</section>

